<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">

<ui:composition template="template/template.xhtml">

	<ui:define name="title">
        Crear Candidato
    </ui:define>

	<ui:define name="content">

		<h:form class="form-horizontal form-material">
			<div class="form-group">
				<label class="col-md-12">Cédula</label>
				<div class="col-md-12">
					<h:inputText value="#{eleccionBeans.candidato.cedula}"
						type="text" a:placeholder="Cedula"
						class="form-control form-control-line" />
				</div>
			</div>
			<div class="form-group">
				<label for="example-email" class="col-md-12">Nombre</label>
				<div class="col-md-12">
					<h:inputText value="#{eleccionBeans.candidato.nombre}"
						a:placeholder="Nombre" class="form-control form-control-line" />
				</div>
			</div>
			<div class="form-group">
				<label for="example-email" class="col-md-12">Número de Lista</label>
				<div class="col-md-12">
					<h:inputText value="#{eleccionBeans.candidato.numLista}"
						a:placeholder="Nombre" class="form-control form-control-line" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="example-email" class="col-md-12">Titulo</label>
				<div class="col-md-12">
					<h:inputText value="#{eleccionBeans.eleccion.titulo}"
						a:placeholder="Nombre" class="form-control form-control-line" />
				</div>
			</div>
			


			<div class="form-group">
				<div class="col-sm-12">
					<h:commandButton action="#{eleccionBeans.guardarELeccion()}"
						class="btn btn-success" value="Guardar" />
				</div>
			</div>
		</h:form>
		
	</ui:define>
</ui:composition>
</html>