<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://xmlns.jcp.org/jsf/passthrough">

<ui:composition template="template/lista.xhtml">

	<ui:define name="title">
        Lista de Votos
    </ui:define>

	<ui:define name="content">

		<h:dataTable value="#{eleccionBeans.listCandidato}" var="candidato"
			class="table">

			<h:column>
				<f:facet name="header">Cédula</f:facet>
				#{candidato.cedula}
			</h:column>
			<h:column>
				<f:facet name="header">Nombres</f:facet>
				#{candidato.nombre}
			</h:column>
			<h:column>
				<f:facet name="header">Número de Lista</f:facet>
				#{candidato.numLista}
			</h:column>
			<h:column>
				<f:facet name="header">Número de Votos</f:facet>
				#{candidato.numVotos}
			</h:column>

  		</h:dataTable>			
	</ui:define>
</ui:composition>

</html>
